<h1>Dice Game</h1>
<hr>
<img src="http://jeffcohenonline.com/dice/<%= @die1 %>.png">
<img src="http://jeffcohenonline.com/dice/<%= @die2 %>.png">
<p><%= @message %></p>
<a href="<%= @link %>"><%= @link_text %></a>
